---
Language: Cpp
IndentWidth: 4
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
ReflowComments: true
PenaltyReturnTypeOnItsOwnLine: 100000
PointerAlignment: Left
AlignConsecutiveDeclarations: true
IndentCaseLabels: true

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

ColumnLimit: 120